{% extends "base.html" %}
{% block title %}Pokedex{% endblock title %}
{% block content %}
    <a href="{% url "pokedex:add_trainer" %}" class="btn btn-primary">Crear Entrenador</a>
    <div class="card-group">
        {% for trainer in trainers %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ trainer.picture.url }}" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ trainer }}</h5>
                        <p class="card-text">Fecha de nacimiento: {{ trainer.birth_date }} </p>
                        <p class="card-text">Nivel: {{ trainer.level }} </p>
                        <a href="trainer/{{ trainer.id }}" class="btn btn-primary"><i class="fa-regular fa-eye"></i></a>
                        <a href="edit_trainer/{{ trainer.id }}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="delete_trainer/{{ trainer.id }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}